body {
    background-color: #222222;
    color: #66CCFF;
}

a {
    color: #66CCFF;
}

.App {
    width: 30%;
    margin: auto;
}

.frostmark-bookmark-list {
    background-color: #333333;
}

/* TreeView vertical main line */
.tree-view {
    border-left: 1px solid #66CCFF55;
}

/* TreeView child horizontal side line */
.tree-view_children > div.info:before {
    content: "--";
    font-family: monospace, monospace;
    font-size: 17px;
    color: #66CCFF55;
}
.tree-view_children > div.info {
    transform: translate(-17px);
}
