body {
    background-color: #222222;
    color: #66CCFF;
}

a {
    color: #66CCFF;
}

.not-implemented {
    background-color: #FFFF0033 !important;
    background-image: linear-gradient(
        -45deg,
        black 25%,
        transparent 25%,
        transparent 50%,
        black 50%,
        black 75%,
        transparent 75%
    ) !important;
    background-size: 8px 8px !important;
    border-color: #FFFF00 !important;
    color: #FFFF00 !important;
}

.app {
}
