.bookmarkLabel:hover {
    color: #FFF;
    cursor: pointer;
}

.bookmarkLabelForm {
    display: flex-box;
}

.bookmarkLabelParagraph {
    display: flex;
    justify-content: space-between;
}

.bookmarkLabelInput {
    width: 50vw;

    /* make <input> and <select> the same size */
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
