.frostmark-bookmark-list {
    min-width: 60vw;
    background-color: #333333;
}

/* TreeView vertical main line */
.tree-view {
    border-left: 1px solid #66CCFF55;
}

/* TreeView child horizontal side line */
.tree-view_children > div.info:before {
    content: "\23AF\23AF";
    font-family: monospace, monospace;
    font-size: 15px;
    color: #66CCFF55;
}
.tree-view_children > div.info {
    transform: translate(-17px);
}
