.logo-item {
    height: 3em;
    border-left: 1px solid #66CCFF;
    border-bottom: 1px outset #333333;
}

.logo-item-label {
    padding: 1em 1em 1em 2em;
}

.logo-item:hover {
    color: #333333;
    border-left: 3px solid #66CCFF;
    cursor: pointer;

    background-color: #66CCFF;
    -webkit-transition: background-color 1000ms ease-out;
    -moz-transition: background-color 1000ms ease-out;
    -o-transition: background-color 1000ms ease-out;
    -ms-transition: background-color 1000ms ease-out;
    transition: background-color 1000ms ease-out;
}
