.logo-item {
    height: 3em;
    border-left: 1px solid #66CCFF;
    border-bottom: 1px outset #333333;
}

.logo-item-label {
    padding: 1em 1em 1em 2em;
}

.logo-item:hover {
    color: #333333;
    background-color: #66CCFF;
    border-left: 3px solid #66CCFF;
    cursor: pointer;
}
